---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/">
        <div class="font-semibold">
          <!-- {SITE.NAME} -->
          Home
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog" effects={["shutter", "half"]}> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work" effects={["shutter", "half"]}> work </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects" effects={["shutter", "half"]}> projects </Link>
      </nav>
    </div>
  </Container>
</header>
